@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.pageContentWrapper{
    margin-bottom : auto;
    width: 100%;
    overflow-x: -moz-hidden-unscrollable;
}



.gameCol {
    margin-left: 25%;
    min-width: 90%;
}

.webTextFont {
    font-family: 'Roboto', sans-serif;
}

.filter {
    width:10%

}

.logoSizing {
    width: 10%;
    margin-right: 4%;
}

.gameImage {
    width: 100px;
    height:150px;
}

s {
  margin-right: 2%;
}

/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.About{
   padding-left: 5%;
   padding-right: 5%;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

@media only screen and (max-width: 479px) {
    .gameCol {
        margin-left: 25%;
        min-width: 95%;
    }

    .logoSizing {
        width: 15%;
        margin-right: 10%;
    }

    .card-title {
        font-size: 0.9rem;
    }

    .card-body {
        font-size: 75%;
    }

    .row {
        margin-left: 0;
        margin-right: -5%

    }
}